body {
  background-color: #eff7de;
}
.register{
  width: 250px;
  height: 180px;
  margin: 50px 20px;
  background-color: #368590;
  border-radius: 5px;
  box-shadow: 0 2px 15px black;
  overflow: hidden;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.btn_reg{
  width: 100px;
  height: 30px;
  margin: 20px 40px 0px 60px;
  position: relative;
  background-color: #d1e616;
  border-radius: 5px;
  box-shadow: 0 1px 5px black;
}
.login{
  width: 250px;
  height: 180px;
  margin: 50px 20px;
  background-color: #368590;
  border-radius: 5px;
  box-shadow: 0 2px 15px black;
  overflow: hidden;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}